html{
    font-size: 22px;
    font-family: monospace;
}
.title{
    width: auto;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding: 10px 10px 50px 10px;
}
.list_prproducts_listoduct .product_item img{
    width: 70%;
    filter: drop-shadow(0 22px 20px #0009);
}
.products_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.products_list .product_item{
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;

}

.products_list .product_item h2{
    font-weight: 500;
    font-size: large;
}

.products_list .product_item .price{
    letter-spacing: 7px;
    color: red;
}